#accordionSidebar {
    background: #662D91;
}

#warning-message {
    display: none;
}

@media only screen and (orientation: portrait) {
    #wrapper {
        display: none;
    }

    #warning-message {
        display: block;
        height: 100vh;
    }
    #rotateIcon{
        font-size: 15rem;
    }
}

@media only screen and (orientation: landscape){
    #warning-message {
        display: none;
    }
}

.login-bg{
    background-image: linear-gradient(to right top, #662d91, #a52d88, #d13d79, #ef5d68, #ff855a);
}