#accordionSidebar {
    background: #662D91;
}

#warning-message {
    display: none;
}

@media only screen and (orientation: portrait) {
    #wrapper {
        display: none;
    }

    #warning-message {
        display: block;
        height: 100vh;
    }
    #rotateIcon{
        font-size: 15rem;
    }
}

@media only screen and (orientation: landscape){
    #warning-message {
        display: none;
    }
}

.login-bg{
    /*background-color: #632c8d;
    background-color: rgba(102, 45, 145, 0.8);*/
    background-image: linear-gradient(to right top, #662d91, #a52d88, #d13d79, #ef5d68, #ff855a);
}

.bg-login-image .bg-register-image{
    background: url("../img/signup_bgimage.jpg");
}

.bg-password-image{
    background: url("../img/password_bgimage.jpg");
}